@import '../../Styles/abstracts/variables.scss';
@import '../../Styles/abstracts/mixins.scss';
.viewProfile {
    @include flex-column;
    width: 65%;
    padding-left: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
    &__heading {
        padding-bottom: 1.5rem;
        padding-top: 1rem;
        @include h2-sub-header;
        &--status {
            padding-bottom: 2.5rem;
        }
    }
    &__subHeading {
        // padding-top: 0.75rem;
        margin-right: 1rem;
    }
    &__content {
        @include flex-row;
        justify-content: flex-start;
        align-items: flex-end;
        width: 80%;
    }
}