html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

input,
textarea {
    outline: none;
}