@import '../../Styles/abstracts/variables.scss';
@import '../../Styles/abstracts/mixins.scss';
.authentication {
    @include flex-column;
    width: 65%;
    padding-left: 3rem;
    align-items: center;
    justify-content: flex-start;
    &__registerAndLogin {
        padding-top: 2rem;
        padding-right: 12rem;
    }
    &__heading {
        padding-bottom: 1rem;
        padding-top: 1rem;
        @include h2-sub-header;
        &--status {
            padding-bottom: 2.5rem;
        }
    }
    &__section {
        width: 80%;
    }
    &__reg-form {
        width: 100%;
    }
    &__formSubmitted {
        height: 20rem;
        @include flex-column;
        align-items: center;
        padding-top: 2rem;
        @include h2-sub-header;
    }
    &__reg-form {
        @include flex-column
    }
}