@import '../../Styles/abstracts/variables.scss';
@import '../../Styles/abstracts/mixins.scss';
.authentication {
    @include flex-column;
    &__registerAndLogin {
        padding-top: 2rem;
        padding-right: 12rem;
        align-items: center;
    }
    &__heading {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    &__formSubmitted {
        height: 20rem;
        @include flex-column;
        align-items: center;
        padding-top: 2rem;
        @include h2-sub-header;
    }
    &__reg-form {
        @include flex-column
    }
}