@mixin tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

// Mobile/Tablet Fonts
@mixin h1-page-header {
    // font-size: 28px;
    // line-height: 36px;
    font-size: 32px;
    line-height: 40px;
}

@mixin h2-sub-header {
    // font-size: 20px;
    // line-height: 28px;
    font-size: 24px;
    line-height: 32px;
}

@mixin h3-labels-links-buttons {
    font-size: 14px;
    line-height: 22px;
}

@mixin h4-table-header {
    // font-size: 11px;
    // line-height: 16px;
    font-size: 12px;
    line-height: 18px;
}

@mixin body-large {
    // font-size: 15px;
    // line-height: 26px;
    font-size: 16px;
    line-height: 28px;
}

@mixin body-med {
    // font-size: 13px;
    // line-height: 20px;
    font-size: 14px;
    line-height: 22px;
}

@mixin body-small {
    // font-size: 11px;
    // line-height: 16px;
    font-size: 12px;
    line-height: 18px;
}

// Flexbox
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}