@import '../../Styles/abstracts/variables.scss';
@import '../../Styles/abstracts/mixins.scss';
.button {
    background-color: $color-primary-text;
    color: $white;
    width: 100%;
    height: 2rem;
    border: none;
    @include flex-row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 1rem;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &:hover {
        cursor: pointer;
        background-color: $color-button-hover;
    }
    &:focus {
        outline: none;
        color: $white;
    }
    &:active {
        color: white;
        background-color: $white;
    }
    &--propList {
        width: 40%;
    }
    &--alignEnd {
        align-self: flex-end;
    }
    &--associate {
        margin-top: 1rem;
        width: 50%;
        margin-bottom: 0.25rem;
    }
    &--associateConnect {
        margin-top: 1.5rem;
        width: fit-content;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--register {
        margin-top: 1rem;
        width: 8rem;
        align-self: flex-end;
    }
    &--auth {
        width: 8vw;
        margin-bottom: 1rem;
    }
    &--big {
        width: 12vw;
    }
    &--propertyDetails {
        width: 14vw;
        align-self: center;
    }
    &--propertyDetails {
        width: 16vw;
        margin-bottom: 1rem;
    }
    &--editProfile {
        align-self: flex-end;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}