@import '../../Styles/abstracts/variables.scss';
.input {
    border-radius: 4px;
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-input-label;
    background-color: $color-input-bg;
    &::placeholder {
        color: black;
        opacity: 0.5;
    }
    &:active,
    &:focus,
    &:focus:active {
        border: 1px solid $color-secondary;
        &::placeholder {
            opacity: 0;
        }
    }
    &-label {
        color: black;
        // opacity: 0.5;
        padding-bottom: 0.5rem;
        &--image {
            // margin-bottom: 1rem;
            margin-right: 1rem;
        }
        &--radio {
            padding-bottom: 0px;
        }
    }
    &--register {
        width: 100%;
    }
    &--image {
        width: 100%;
        height: 1.5rem;
        // margin-bottom: 0.5rem;
        box-sizing: border-box;
    }
    &--message {
        height: 2rem;
    }
    &--error {
        border: 1px solid red;
        &:active,
        &:focus,
        &:focus:active {
            outline: none;
            border: 1px solid red;
            &::placeholder {
                opacity: 1;
            }
        }
    }
    &--errorContainer {
        margin-bottom: 0.4rem;
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
    }
    &--errorContainer-invisible {
        visibility: hidden;
        margin-bottom: 0.4rem;
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
    }
    &--formErrorContainer {
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0.75rem;
        padding-left: 1.5rem;
    }
    &--error-img {
        height: 13.33px;
        width: 13.33px;
        padding-right: 5px;
        color: red;
    }
    &--error-msg {
        @include body-small;
        color: red;
    }
    &--formError-msg {
        @include body-med;
    }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    box-shadow: 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input--uploadVideo-desc::-moz-placeholder {
    font-size: .8rem;
}