@import '../../Styles/abstracts/variables.scss';
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    height: 1.5rem;
    width: 10rem;
    padding-left: 1rem;
    margin-left: 1rem;
    background-image: url("../../assets/icons/arrow_down.svg");
    background-repeat: no-repeat;
    $a: 100%;
    $b: 1rem;
    background-position-x: calc(#{$a} - #{$b});
    background-position-y: center;
    &:active,
    &:focus {
        border-radius: 2px;
    }
    &::-ms-expand {
        display: none;
    }
}