@import '../../Styles/abstracts/variables.scss';
@import '../../Styles/abstracts/mixins.scss';
.createProfile {
    @include flex-column;
    width: 75%;
    padding-left: 6rem;
    align-items: flex-start;
    justify-content: flex-start;
    &__heading {
        padding-bottom: 1rem;
        padding-top: 1rem;
        @include h2-sub-header;
        &--status {
            padding-bottom: 2.5rem;
        }
    }
    &__formSubmitted {
        @include flex-column;
        align-items: center;
        padding-top: 2rem;
        @include h2-sub-header;
    }
    &__type {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    &__typeRadio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-left: 2rem;
        padding-right: 1rem;
    }
    &__reg-form {
        @include flex-column
    }
}