@import '../../Styles/abstracts/variables.scss';
@import '../../Styles/abstracts/mixins.scss';
.checklist {
    &__heading {
        margin-bottom: 1rem;
    }
    &__subHeading {
        margin-bottom: 0.8rem;
    }
    &__item {
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
    }
    &__icon {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: $color-secondary;
    }
    &__text {
        padding-left: 1rem
    }
}