.hero {
    &__image {
        height: 70vh;
        object-fit: cover;
        width: 100%;
        background-position: center;
        background-size: cover;
        margin-top: -1rem;
        position: relative;
        &-1 {
            background-image: url('../../assets/hero/1.jpg');
        }
        &-2 {
            background-image: url('../../assets/hero/2.jpg');
        }
        &-3 {
            background-image: url('../../assets/hero/3.jpg');
        }
        &-4 {
            background-image: url('../../assets/hero/4.jpg');
        }
    }
    &__text {
        color: black;
        font-size: 3rem;
        color: black;
        position: absolute;
        bottom: 5px;
        right: 2rem;
    }
}